.footer {
    margin-top: 1rem;
    background-color: #f8f8f8;
    padding: 40px 0;
    font-family: Arial, sans-serif;
    color: #333;
    border-top: 1px solid #e0e0e0;
    /* Línea gris fina */
}

.footerContainer {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* <- esta es la clave */
    align-items: flex-start;
    /* opcional, por si querés que todo quede arriba alineado */
    padding: 0 20px;
}


.contactColumn {
    flex: 1;
}

.vetraLogo {
    width: 4vw;
}

.footerContact {
    margin-top: 0.3rem;
    display: flex;
    font-size: 25px;
    gap: 0.1rem;
    color: #141414;

}

.rightColumnsWrapper {
    display: flex;
    flex-direction: row-reverse;
    gap: 60px;
    /* Gap between Ayuda and Vetra columns */
}

.footerColumn {
    flex: 1;
}

.footerTitle {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #141414;
}

.footerContent p {
    font-size: 13px;
    margin: 12px 0;
    cursor: pointer;
    transition: color 0.2s ease;
}

.footerContent p:hover {
    color: #0066cc;
}

@media (max-width: 768px) {
    .footerContainer {
        flex-direction: column;
        gap: 30px;
    }

    .rightColumnsWrapper {
        flex-direction: column;
        gap: 30px;
    }

    .footerColumn {
        margin-bottom: 20px;
    }

    .footerTitle {
        margin-bottom: 15px;
    }

    .vetraLogo {
        width: 6vh;
    }

}