.mainContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.contentContainer {
    background-color: #FFF;
    width: 100%;
    min-height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    box-sizing: border-box;
}

.imageContainer {
    display: flex;
    justify-content: center;
    width: 90%;
}

.image {
    max-width: 450px;
    width: auto;
    height: 70px;
}

.logInComponent {
    background-color: #FFF;
    border: 2px solid #D9D9D9;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 8px;
}

.logInComponent_header {
    padding-left: 1rem;
    background-color: #000411;
    color: white;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logInComponent_content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.logInComponent_content_inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.logInComponent_content_button {
    width: 100%;
}

.inputComponent {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.inputComponent label {
    font-size: small;
}

.inpuntStyles {
    color: gray;
    border: 1px solid gray;
    height: 2.2rem;
    padding: 0 0.5rem;
    font-size: 0.8rem;
    border-radius: 0.2rem;
    width: 100%;
    box-sizing: border-box;
}

.errorMessage {
    margin-top: 0.2rem;
    font-size: 0.9rem;
    text-align: center;
    color: red;
    min-height: 1.4rem;
    /* para que no cambie el layout */
}

p {
    font-size: 1rem;
    margin: 0;
}

.navText {
    text-decoration: underline;
    cursor: pointer;
    margin-top: 1rem;
    text-align: center;
    font-size: 13px;
}

.navText:hover {
    color: rgb(40, 40, 249);
}

/* Responsive */
@media (max-width: 600px) {
    .logInComponent {
        padding: 1rem;
    }

    .logInComponent_content_inputs {
        gap: 0.75rem;
    }

    p {
        font-size: 0.6rem;
    }

    .inpuntStyles {
        height: 2.1rem;
        font-size: 0.8rem;
    }
}