.headerContainer {
    height: 10vh;
    width: 100%;
    background-color: #fff;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    box-sizing: border-box;
    z-index: 1000;;
}

.headerBanner {
    height: 5vh;
}

.headerComponents {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-left: auto;
    height: 100%;
}

.headerCategories {
    display: flex;
    flex-direction: row;
    gap:6px;
}

.headerCategories button {
    background: none;
    border: none;
    padding: 9px;
    color: #333333;
    font-size: 18px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.headerCategories button:hover {
    background-color: #e9e9e9;
    color: #141414;
}

.headerShoppingCart {
    display: flex;
    align-items: center;
    height: 100%;
}

.headerShoppingCart button {
    background: transparent;
    border: none;
    color: #555555;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.headerShoppingCart {
    font-size: 22px;
    transition: color 0.3s ease;
}

.headerShoppingCart button:hover {
    color: #141414;
}

.headerAccount {
    display: flex;
    align-items: center;
    gap: 6px;
}

.headerAccount button {
    padding: 2px 8px;
    font-size: 18px;
    background-color: transparent;
    color: #555555;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 2px;
    transition: border 0.2s ease, color 0.2s ease;
}

.headerAccount button:hover {
    background-color: #cfcfcf;
    border: 1px solid #555555;
    color: #141414;
}